.LeaderBoardItem {
    padding: 0.5%;
    font-size: 1.5vh;
    transition: 1s;
    opacity: 100%;
    text-align: left;

}

.LeaderBoardItemGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;

}

.img-icon {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1vh;
    padding: 1px;
}

.img-icon:hover {
    border-style:dotted;
    border-color: rgb(255, 255, 255);
    
}

.iconContainer {
    width: 90%;
    aspect-ratio: 1/1;
}

.progressContainer {
    width: 100%;
    padding: 4px;
}