.LeaderBoardItem {
    width: auto;
    height: 90%;
    padding: 2%;
    font-size: 1.5vh;
    transition: 1s;
    opacity: 100%;
    
}

.LeaderBoardItemGrid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    
    
}

.img-icon {
    width: 90%;
    height: 90%;
    object-fit: fill;
    border-radius: 1vh;
}

.img-icon:hover {
    border-style:dotted;
    border-color: rgb(255, 255, 255);
    
}

.iconContainer {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
}

.progressContainer {
    width: 100%;
}