.blob {
	background: rgba(192, 255, 163, 0.226);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
    text-align: center;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
	color: black;
	position: relative;
	z-index: -1;
}

.blob-selected {
	background: rgb(60, 255, 0);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
    text-align: center;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
	color: black;
	position: relative;
	z-index: -1;
}

.blob:hover {
    cursor: pointer;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.popup {
	color: black;
	font-size: 1vh;
	line-height: normal;
	text-align: left;
}