.custom-modal {
    position: fixed;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    color: black;
    border: solid white;
    text-align: center;
}