.Photo {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1vh;
  }


.img {
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: solid white;
  
}
